@-webkit-keyframes colors {
    to {
        color: #080808;
    }
}

@keyframes colors {
    to {
        color: #080808;
    }
}

@-webkit-keyframes background {
    to {
        background: transparent;
    }
}

@keyframes background {
    to {
        background: transparent;
    }
}

@-webkit-keyframes logo {
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes logo {
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes opacity {
    to {
        opacity: 1;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:after,
*:before {
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

body {
  color: white;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased; }

p {
  margin-bottom: 10px; }

a {
  color: white;
  text-decoration: none; }

img {
  max-width: 100%; }
.icons{
  display: none;
}
.container {
  margin: 0 auto;
  width: 90%;
  text-align: center; }

[class*="btn"] {
  padding: 20px 50px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  margin: 30px 0 50px; }
  [class*="btn"].btn-send {
    box-shadow: 3px 4px #2e9000;
    background-color: #48b300;
    text-transform: uppercase; }

[class*="title"] {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif; }

.title {
  color: white;
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 25px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.area-main {
  background: white;
  min-height: 100%;
  margin-left: 0;
  z-index: 9;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch; }

#area-info,
#sobre {
  background: #df0a15;
  color: white;
  padding: 50px 0; }
  #area-info .title-info,
  #sobre .title-info {
    font-size: 3.1rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
    #area-info .title-info span,
    #sobre .title-info span {
      color: #210102;
      display: block; }
  #area-info p,
  #sobre p {
    font-size: 1.6rem; }
  #area-info .sub-title,
  #sobre .sub-title {
    font-weight: 700;
    font-size: 2rem; }

#area-info {
  padding: 80px 0; }

#local {
  background: url(../images/bg-sampa-xs.jpg) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;

  padding: 30px 0;
}
  #local p {
    font-size: 1.6rem;
    font-weight: 700; }

.btn {
  background: #4e060b;
  color: white;
  display: inline-block;
  margin: 20px 10px;
  padding: 10px 25px;
  font-size: 1.6rem; }

.hide-mobile {
  display: none; }

.show-mobile {
  display: block; }

.btn-dark {
  background: rgba(28, 28, 28, 0.8);
  color: #df0a15;
  text-transform: uppercase;
  font-size: 2.4rem;
  padding: 8px 15px;
  margin: 10px 0; }
  .btn-dark:hover, .btn-dark:focus {
    color: white; }

#patrocinadores {
  background: white;
  padding: 100px 0 50px; }
  #patrocinadores .title-sponsor {
    color: #df0a15;
    font-size: 3.1rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 30px; }
    #patrocinadores .title-sponsor:first-child {
      padding-top: 0; }
  #patrocinadores .sub-title {
    color: #1c1c1c;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    margin: 40px 0; }
    #patrocinadores .sub-title small {
      text-transform: none; }
  #patrocinadores li {
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle; }
    #patrocinadores li .sub-title {
      margin: 0 0 15px; }
  #patrocinadores a:hover, #patrocinadores a:focus {
    opacity: 0.65; }

#contato {
  background: #1e1e1e;
  padding: 30px 0; }
  #contato .sub-title {
    font-weight: 400;
    font-size: 2rem; }
  #contato a {
    font-size: 1.6rem;
    display: inline-block;
    margin: 20px 0; }
    #contato a:hover, #contato a:focus {
      opacity: 0.65; }

#area-footer {
  background: #2c2c2b;
  padding: 30px 0;
  font-size: 1.1rem; }
  #area-footer a {
    font-weight: bold; }

.speakers {
  margin: 0 auto;
  width: 100%; }
  .speakers li {
    margin: 20px 0;
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .speakers img {
    width: 120px;
    height: 120px; }
  .speakers figcaption {
    font-size: 24px;
    margin: 0 20px; }
    .speakers figcaption small {
      font-size: 18px; }
  .speakers a {
    display: inline-block; }
    .speakers a:hover, .speakers a:focus {
      opacity: 0.65; }

.braziljs-logo {
  height: 70px; }

@media screen and (min-width: 401px) {
  .hide-mobile {
    display: block; }

    #local p {
      font-size: 2.5rem; }
      #local p small {
        font-weight: 300; } }
@media screen and (min-width: 768px) {
  .speakers li {
    margin: 20px;
    width: 300px; }

  .btn-dark {
    font-size: 3.1rem;
    padding: 8px 25px; }

  .btn {
    margin: 35px 10px;
    padding: 10px 80px;
    font-size: 2rem; } }
  .area-menu{
    width: 100%;
  }
@media screen and (min-width: 992px) {

  #area-info .title-info span,
  #sobre .title-info span {
    display: inline-block;
    margin-left: 7px; }


  #patrocinadores .title-sponsor {
    padding-top: 50px; } }
.area-top {
    color: white;
    padding-bottom: 40px;
    text-align: center;
    min-height: 460px;
    padding-top: 160px;
    text-transform: uppercase;
    position: relative;
    background: url(../images/background.jpg) repeat;
    background-size: cover;
    background-attachment: fixed;
    position: initial !important;
}

.area-top:before {
    content: '';
    background: #080808;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: background 1s linear 1s;
            animation: background 1s linear 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    pointer-events: none;
    z-index: 9999;
}
.logo svg {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    -webkit-animation: logo .5s linear 1s;
            animation: logo .5s linear 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
  .area-top .title {
    font-size: 5.7rem;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 0;
    color: #181818;
    }
  .area-top .subtitle {
    font-size: 2.125rem;
    font-weight: 300;
    color: #181818;
}
  .area-top .info {
    font-size: 1.25rem; }

.btn-send {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 280px;
  font-size: 2.5rem;
  left: 50%;
  text-align: center;
  width: 80%;
  z-index: 10;
 }
  .btn-send small {
    display: block;
    font-size: 1.75rem;
    text-shadow: none;
    text-transform: none; }
  .menu-visible .btn-send {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

.logo {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 240px;
  width: 305px;
  left: 50%;
  margin-left: -153px;
  position: absolute;
  top: -35px;
  z-index: 10; }

.ico-menu {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: block;
  text-indent: -99999px;
  position: fixed;
  top: 10px;
  left: 8px;
  z-index: 21;}
  .menu-visible .ico-menu {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: translate(250px, 0);
    transform: translate(260px, 0); }

@-webkit-keyframes title {
    to {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
    }
}

@keyframes title {
    to {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
    }
}

@-webkit-keyframes slogan {
    to {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
    }
}

@keyframes slogan {
    to {
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
  .area-top {
    min-height: 660px;
    position: relative;
    padding-top: 0; }
    
    .area-top .info-main {
      top: 310px;
      left: 0;
      position: absolute;
      width: 100%; }

    .area-top .info-main .subtitle {
        opacity: 0;
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
        -webkit-animation: slogan .35s linear 2s;
                animation: slogan .35s linear 2s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }
      .area-top .info-main .title {
        font-size: 5.7rem;
        line-height: 5rem;
        opacity: 0;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
        -webkit-animation: title .35s linear 1.5s;
                animation: title .35s linear 1.5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }

  .area-fixed {
    position: fixed;
    z-index: 11;
    width: 100%; }

    .area-fixed {
        height: 90px;
        background: rgba(0, 0, 0, 0.8);
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    .menu-fixed-disabled .area-fixed {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }

    .area-menu li a {
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    .menu-fixed-disabled .area-menu li a {
        color: black;
    }

    .menu-fixed-enabled .area-fixed {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    .menu-fixed-enabled .area-menu li a {
        color: white;
    }

  .btn-send {
    top: 430px; }

  .ico-menu {
    display: none; }

  .logo {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    height: 320px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    top: 40px;
    z-index: 11; } }
@media screen and (min-width: 1500px) {
  .area-menu li a {
    font-size: 2.4rem; } }
@media screen and (min-width: 992px) {
  .btn-send {
    width: auto; }
    .btn-send span {
      display: inline-block; }
    .btn-send .info-price {
      display: block;
      font-size: 1.5rem; } }
  .area-menu {
    background: #222222;
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  width: 250px;
  left: 0;
  top: 0;
  height: 100%; }
  .area-menu li {
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    color: #878787;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; }
    .area-menu li.show-mobile a {
      color: #df0a15; }
    .area-menu li a {
      display: block;
      padding: 20px;
    }
      .area-menu li a:hover, .area-menu li a:focus, .area-menu li a:active {
        color: #cccccc; }
    .area-menu li:first-child a {
      color: #df0a15; }

.menu-visible .area-menu {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0); 
  z-index: 11;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch; 

}

@media screen and (min-width: 992px) {
  .area-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    background: none;
    position: fixed;
    top: 10px;
    z-index: 12;
    height: auto; }
    .area-menu li {
      display: inline-block;
      border: none;
      font-size: 2rem;
      font-weight: 400;
      padding: 20px 15px; }
      .area-menu li.show-mobile {
        display: none; }
      .area-menu li a {
        padding: 0;
        display: inline; } }
@media screen and (min-width: 1200px) {
  .area-menu li {
    padding: 20px 25px; } }
#area-timeline,
#palestrantes {
  background: #181818;
  padding: 50px 0 20px;
  position: relative; }
  #area-timeline .list-timeline,
  #palestrantes .list-timeline {
    position: relative;
    left: 47%;
    margin-bottom: 100px;
    width: 52%; }
    #area-timeline .list-timeline li,
    #palestrantes .list-timeline li {
      border-left: 4px solid #464646;
      color: #cccccc;
      font-size: 1.6rem;
      min-height: 115px;
      padding-left: 20px;
      position: relative;
      text-align: left;
      padding-bottom: 50px; }
      #area-timeline .list-timeline li a,
      #palestrantes .list-timeline li a {
        color: #cccccc; }
      #area-timeline .list-timeline li:before,
      #palestrantes .list-timeline li:before {
        content: "";
        border-radius: 50%;
        border: 6px solid #df0a15;
        background: #e8c78a;
        height: 21px;
        position: absolute;
        top: 0;
        left: -12px;
        width: 21px; }
      #area-timeline .list-timeline li:last-child,
      #palestrantes .list-timeline li:last-child {
        padding-bottom: 0; }
        #area-timeline .list-timeline li:last-child:before,
        #palestrantes .list-timeline li:last-child:before {
          top: auto;
          bottom: 0; }
        #area-timeline .list-timeline li:last-child .talk-time,
        #area-timeline .list-timeline li:last-child p,
        #palestrantes .list-timeline li:last-child .talk-time,
        #palestrantes .list-timeline li:last-child p {
          position: relative;
          top: 25px; }
      #area-timeline .list-timeline li .box-spearker,
      #palestrantes .list-timeline li .box-spearker {
        position: absolute;
        top: -25px;
        left: -170px;
        text-align: right;
        width: 140px; }
        #area-timeline .list-timeline li .box-spearker p,
        #palestrantes .list-timeline li .box-spearker p {
          top: 0; }
  #area-timeline .sub-title,
  #palestrantes .sub-title {
    color: white;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif; }
  #area-timeline .talk-time,
  #palestrantes .talk-time {
    color: white; }

.hide-mobile {
  display: none; }

@media screen and (min-width: 401px) {
  .hide-mobile {
    display: block; }

  #area-timeline .list-timeline {
    position: relative;
    left: 50%;
    width: 50%; }
    #area-timeline .list-timeline li {
      padding-bottom: 100px;
      min-height: 400px; }
      #area-timeline .list-timeline li .box-spearker {
        left: -230px;
        width: 200px; }
      #area-timeline .list-timeline li:first-child, #area-timeline .list-timeline li:nth-child(2), #area-timeline .list-timeline li:last-child {
        min-height: 75px; } }
@media screen and (min-width: 992px) {
  #area-timeline .list-timeline {
    margin-bottom: 350px; }
    #area-timeline .list-timeline li {
      padding-bottom: 125px;
      padding-right: 50px; }
      #area-timeline .list-timeline li .box-spearker {
        left: -330px;
        width: 300px; }
    #area-timeline .list-timeline img {
      width: 150px; }
    #area-timeline .list-timeline .sub-title {
      font-size: 1.6rem; } }
.animate-flasher {
  opacity: 0;
  -webkit-animation: flasher 5.15s infinite;
  animation: flasher 5.15s infinite;
  -moz-animation: flasher 5.15s infinite; }

@-webkit-keyframes flasher {
  0% {
    opacity: 0; }

  2% {
    opacity: 1; }

  4% {
    opacity: 0; }

  100% {
    opacity: 0; } }
@keyframes flasher {
  0% {
    opacity: 0; }

  2% {
    opacity: 1; }

  4% {
    opacity: 0; }

  100% {
    opacity: 0; } }
.animate-swing {
  -webkit-animation: swing 2.15s infinite;
  animation: swing 2.15s infinite; }
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes swing {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px); }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.animate-scale {
  -webkit-animation: scale 1s ease-in-out;
  animation: scale 1s ease-in-out;
  -webkit-transform-origin: 45%;
  transform-origin: 45%; }
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1); }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes scale {
  from {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1); }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
.animate-left {
  -webkit-animation: posLeft 1s ease-in-out;
  animation: posLeft 1s ease-in-out; }

.animate-left-2 {
  -webkit-animation: posLeft 0.7s ease-in-out;
  animation: posLeft 0.7s ease-in-out; }
@-webkit-keyframes posLeft {
  from {
    -webkit-transform: translate(-1000%, 0);
    transform: translate(-1000%, 0); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes posLeft {
  from {
    -webkit-transform: translate(-1000%, 0);
    transform: translate(-1000%, 0); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.animate-right {
  -webkit-animation: posRight 0.7s ease-in-out;
  animation: posRight 0.7s ease-in-out; }

.animate-right-2 {
  -webkit-animation: posRight 1s ease-in-out;
  animation: posRight 1s ease-in-out; }
@-webkit-keyframes posRight {
  from {
    -webkit-transform: translate(1500%, 0);
    transform: translate(1500%, 0); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes posRight {
  from {
    -webkit-transform: translate(1500%, 0);
    transform: translate(1500%, 0); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.animate-bottom {
  -webkit-animation: posBottom 0.35s ease-in-out;
  animation: posBottom 0.35s ease-in-out; }

.animate-bottom-2 {
  -webkit-animation: posBottom 0.45s ease-in-out;
  animation: posBottom 0.45s ease-in-out; }

.animate-bottom-3 {
  -webkit-animation: posBottom 0.55s ease-in-out;
  animation: posBottom 0.55s ease-in-out; }

.animate-bottom-4 {
  -webkit-animation: posBottom 0.65s ease-in-out;
  animation: posBottom 0.65s ease-in-out; }

.animate-bottom-5 {
  -webkit-animation: posBottom 0.75s ease-in-out;
  animation: posBottom 0.75s ease-in-out; }

.animate-bottom-6 {
  -webkit-animation: posBottom 0.85s ease-in-out;
  animation: posBottom 0.85s ease-in-out; }

.animate-bottom-7 {
  -webkit-animation: posBottom 0.95s ease-in-out;
  animation: posBottom 0.95s ease-in-out; }

.animate-bottom-8 {
  -webkit-animation: posBottom 1.05s ease-in-out;
  animation: posBottom 1.05s ease-in-out; }

.animate-bottom-9 {
  -webkit-animation: posBottom 1.15s ease-in-out;
  animation: posBottom 1.15s ease-in-out; }
@-webkit-keyframes posBottom {
  from {
    -webkit-transform: translate(25px, 122px);
    transform: translate(25px, 122px); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes posBottom {
  from {
    -webkit-transform: translate(25px, 122px);
    transform: translate(25px, 122px); }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }


#palestrantes {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#palestrantes .title {
    color: #181818;
}

#palestrantes .speakers figcaption {
    color: #181818;
}

#patrocinadores {
    padding: 30px 0 20px 0;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contato {
    background: #df0a15;
    color: white;
}

.btn-ggm {
    font-size: 1.6rem;
    text-decoration: underline;
    font-weight: normal;
    padding: 0;
    margin: 25px 0 0 0;
}

#local {
    padding-bottom: 40px;
}

#local p {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

#local p small {
    font-family: "Open Sans", sans-serif;
    text-transform: initial;
    font-size: 1.6rem;
}

#area-info .title-info span {
    color: white;
}

#area-info,
 #sobre {
    padding: 30px;
}

#sobre {
    padding-bottom: 5px;
}

#contato {
    padding: 30px 0;
}

#contato .social-svg {
    margin: 25px 5px 0;
}

.btn-send {
    font-weight: 600;
    line-height: 2.3rem;
    padding: 15px 30px;
    letter-spacing: -1px;
    position: initial;
    left: auto;
    top: auto;
    -webkit-transform: translate(0);
            transform: translate(0);
}

.btn-send small {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.area-top .title {
    line-height: 6.3rem;
}

.area-menu,
.btn-send,
.info-main p,
.ico-menu {
    opacity: 0;
    -webkit-animation: opacity 1s linear 2.3s;
            animation: opacity 1s linear 2.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.info-main .title {
    margin-bottom: 55px;
}

.info-main p {
    color: black;
    font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
    .area-top .title {
        margin-bottom: 30px;
    }
    

    .area-top .btn-send {
        margin-bottom: 0;
    }
    .area-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack:start;
        -webkit-justify-content:flex-start;
            -ms-flex-pack:start;
                justify-content:flex-start;

      -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    z-index: 11;
    }

    .area-top .subtitle {
        margin: 20px 0;
    }
}

.speakers small,
.social-nicknames {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-nicknames img,
.speakers small img {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.svg-close, .svg-menu {
  width: 35px;
}
.svg-menu{
  display: block;
}
.svg-close{
  display: none;
}
.menu-visible .svg-menu{
  display: none;
}

.menu-visible .svg-close{
  display: block;
  fill: #fff;
}

body::before{
  content: "";
  
}
body::before{
  background: rgba(0,0,0,.75);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  opacity: 0
}

.menu-visible::before{
  opacity: 1;
  -webkit-transition: opacity 0.35s 0.25s;
  transition: opacity 0.35s 0.25s;
}
